# gcp-filestore-sc-pvc.yaml
# Dynamic provisioning with GKE Filestore CSI. Requires Filestore CSI driver.
# Docs: https://cloud.google.com/kubernetes-engine/docs/how-to/persistent-volumes/filestore-csi-driver
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: filestore-sc
provisioner: filestore.csi.storage.gke.io
parameters:
  tier: ENTERPRISE      # or BASIC_HDD/BASIC_SSD/BALANCED, depends on your environment
  network: default
  location: us-central1-c   # zone/region; ensure it matches your cluster
  protocol: NFSv3
allowVolumeExpansion: true
mountOptions:
  - nfsvers=3
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: filestore-scan-pvc
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: filestore-sc
  resources:
    requests:
      storage: 1Ti

