__pycache__
*.pyc
*.pyo
*.pyd
*.so
*.egg-info
.eggs/
.env
*.env
a.env
*.dev.env
.dev.env
.env.*
.DS_Store
.git
.gitignore
.idea
.vscode
dist/
build/
*.zip
site/

# Large artifacts
**/data/connector_uuid.txt
