services:
  dsx_connect_api:
    image: logangilbert/dsx-connect:__VERSION__
    #build:
    #  context: .
    #  dockerfile: Dockerfile
    ports:
      - "8586:8586"
    environment:
      - PYTHONUNBUFFERED=1
      - DSXCONNECT_DATABASE__TYPE=tinydb
      - DSXCONNECT_DATABASE__LOC=data/dsx-connect.db.json
      - DSXCONNECT_DATABASE__RETAIN=100
      - DSXCONNECT_SCANNER__SCAN_BINARY_URL=http://dsxa_scanner:5000/scan/binary/v2
      - DSXCONNECT_TASKQUEUE__BROKER=redis://redis:6379/0
      - DSXCONNECT_TASKQUEUE__BACKEND=redis://redis:6379/0
      - LOG_LEVEL=debug
    depends_on:
      - redis
    networks:
      dsx-network:
        aliases:
          - dsx-connect-api # this is the name connectors will use to connect to the dsx_connect_core service API on the dsx-connect-network docker network
    command: uvicorn dsx_connect.app.dsx_connect_api:app --host 0.0.0.0 --port 8586

#  dsx_connect_workers:
#    image: logangilbert/dsx-connect:__VERSION__
##    build:
##      context: .
##      dockerfile: Dockerfile
#    environment:
#      - PYTHONUNBUFFERED=1
#      - LOG_LEVEL=debug
#      - DSXCONNECT_SCANNER__SCAN_BINARY_URL=http://dsxa_scanner:5000/scan/binary/v2
#      - DSXCONNECT_SCAN_RESULT_TASK_WORKER__SYSLOG_SERVER_URL=rsyslog
#      - DSXCONNECT_SCAN_RESULT_TASK_WORKER__SYSLOG_SERVER_PORT=514
#      - DSXCONNECT_TASKQUEUE__BROKER=redis://redis:6379/0
#      - DSXCONNECT_TASKQUEUE__BACKEND=redis://redis:6379/0
#    depends_on:
#      - redis
#      - syslog
#    networks:
#      - dsx-network
#    command: celery -A dsx_connect.taskqueue.celery_app worker --loglevel=info -Q scan_request_queue,verdict_action_queue,scan_result_queue --concurrency=1

  dsx_connect_worker_scan:
    image: logangilbert/dsx-connect:__VERSION__
    environment:
      - PYTHONUNBUFFERED=1
      - LOG_LEVEL=debug
      - DSXCONNECT_SCANNER__SCAN_BINARY_URL=http://dsxa_scanner:5000/scan/binary/v2
      - DSXCONNECT_TASKQUEUE__BROKER=redis://redis:6379/0
      - DSXCONNECT_TASKQUEUE__BACKEND=redis://redis:6379/0
    depends_on:
      - redis
    networks:
      - dsx-network
    command: celery -A dsx_connect.taskqueue.celery_app worker --loglevel=info -Q scan_request_queue --concurrency=2

  dsx_connect_worker_verdict:
    image: logangilbert/dsx-connect:__VERSION__
    environment:
      - PYTHONUNBUFFERED=1
      - LOG_LEVEL=debug
      - DSXCONNECT_TASKQUEUE__BROKER=redis://redis:6379/0
      - DSXCONNECT_TASKQUEUE__BACKEND=redis://redis:637s9/0
    depends_on:
      - redis
    networks:
      - dsx-network
    command: celery -A dsx_connect.taskqueue.celery_app worker --loglevel=info -Q verdict_action_queue --concurrency=1

  dsx_connect_worker_results:
    image: logangilbert/dsx-connect:__VERSION__
    environment:
      - PYTHONUNBUFFERED=1
      - LOG_LEVEL=debug
      - DSXCONNECT_SCAN_RESULT_TASK_WORKER__SYSLOG_SERVER_URL=rsyslog
      - DSXCONNECT_SCAN_RESULT_TASK_WORKER__SYSLOG_SERVER_PORT=514
      - DSXCONNECT_TASKQUEUE__BROKER=redis://redis:6379/0
      - DSXCONNECT_TASKQUEUE__BACKEND=redis://redis:6379/0
      - DSXCONNECT_FRONTEND__URL=http://dsx-connect-api:8586
    depends_on:
      - redis
      - syslog
    networks:
      - dsx-network
    command: celery -A dsx_connect.taskqueue.celery_app worker --loglevel=info -Q scan_result_queue --concurrency=1

  redis:
    image: redis:6
    networks:
      - dsx-network

  syslog:
    image: balabit/syslog-ng:latest
#    volumes:
#      - /var/log:/var/log
    networks:
      - dsx-network

# The following assumes an already created docker network like this:
# docker network create dsx-connect-network --driver bridge
networks:
  dsx-network:
    external: true
    name: dsx-connect-network  # change this to an existing docker network