enabled: true

image:
  repository: redis
  tag: "7-alpine"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 6379

resources: {}

command: [
  "redis-server",
  "--notify-keyspace-events", "Ex",
  "--maxmemory-policy", "allkeys-lru",
  "--timeout", "0",
  "--tcp-keepalive", "300",
  "--appendonly", "no"
]

healthcheck:
  test: ["redis-cli", "ping"]
  interval: 10
  timeout: 3
  retries: 5
  startPeriod: 10
