# Global settings (optional, passed down if subcharts use .Values.global)
global:
  logLevel: debug

# typical deployments would have dsxa-scanners in their own cluster and namespace, but for if all that's needed
# is a single dsxa-scanner pod that only supports scan/binary/v2 (file size <= 2GB), then enable here.
dsxa-scanner:
  enabled: false

dsx-connect-api:
  enabled: true
  image:
    repository: logangilbert/dsx-connect
    tag: "0.1.34"
    pullPolicy: IfNotPresent
  service:
    port: 8586
  env:
    DSXCONNECT_DATABASE__TYPE: tinydb
    DSXCONNECT_DATABASE__LOC: data/dsx-connect.db.json
    DSXCONNECT_DATABASE__RETAIN: 100
    DSXCONNECT_SCANNER__SCAN_BINARY_URL: http://dsxa_scanner:5000/scan/binary/v2
    DSXCONNECT_TASKQUEUE__BROKER: redis://redis:6379/0
    DSXCONNECT_TASKQUEUE__BACKEND: redis://redis:6379/0
    LOG_LEVEL: debug

dsx-connect-workers:
  enabled: true
  image:
    repository: logangilbert/dsx-connect
    tag: "0.1.34"
  env:
    DSXCONNECT_SCANNER__SCAN_BINARY_URL: http://dsxa_scanner:5000/scan/binary/v2
    DSXCONNECT_SCAN_RESULT_TASK_WORKER__SYSLOG_SERVER_URL: rsyslog
    DSXCONNECT_SCAN_RESULT_TASK_WORKER__SYSLOG_SERVER_PORT: 514
    DSXCONNECT_TASKQUEUE__BROKER: redis://redis:6379/0
    DSXCONNECT_TASKQUEUE__BACKEND: redis://redis:6379/0
  concurrency: 1
  queues:
    - scan_request_queue
    - verdict_action_queue
    - scan_result_queue

redis:
  enabled: true
  image:
    repository: redis
    tag: "6"

syslog:
  enabled: true
  image:
    repository: balabit/syslog-ng
    tag: latest
