{{- if .Values.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "dsx-connect-api.fullname" . }}
  labels:
    {{- include "dsx-connect-api.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
  selector:
    {{- include "dsx-connect-api.selectorLabels" . | nindent 4 }}

{{- end }}