{{- if .Values.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: dsx-connect-api
  labels:
    {{- include "dsx-connect-api.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    {{- if .Values.tls.enabled }}
    - port: {{ .Values.tls.port }}
      targetPort: {{ .Values.tls.port }}
      protocol: TCP
      name: https
    {{- else }}
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
      name: http
    {{- end }}
  selector:
    {{- include "dsx-connect-api.selectorLabels" . | nindent 4 }}

{{- end }}
