services:
  dsxa_scanner:
    # download docker image from deep instinct managment console and load into docker repo or local docker setup
    #    Load the Scanner docker image using the following command:
    #    docker load -i <file name>
    #    Where:
    #    <file name> = dpa-<distro>-<Application Security version>-base.tgz
    # image: <your docker repo>
    image: dsxconnect/dpa-rocky9:4.1.0.2131 # NOTE: this will download DSXA from a public Docker Hub repository.

    environment:
      # Update these with your real values or via .env
      APPLIANCE_URL: selab-dpa.customers.deepinstinctweb.com
      TOKEN: "CHANGE_ME_TOKEN"
      SCANNER_ID: "81"
      FLAVOR: "rest,config"
      NO_SSL: "true"
    networks:
      - dsxa-network

  # this is the load balancer for dsxa - there a several choices for load balancers, this is just one
  dsxa_lb:
    image: haproxy:2.9
    depends_on:
      - dsxa_scanner
    volumes:
      - ./haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
      - ./haproxy/certs:/etc/haproxy/certs:ro
    ports:
      - "443:443"
    networks:
      - dsxa-network

networks:
  dsxa-network:
    external: true
    name: dsxa-network

