# Launches dsxa using the same docker network as used by dsx-connect components
services:
  dsxa_scanner:
    image: ${IMAGE:-dsxconnect/dpa-rocky9:4.1.1.2020}    # or `build:` if you need to build it
    environment:
      APPLIANCE_URL: ${APPLIANCE_URL}
      TOKEN: ${TOKEN}
      SCANNER_ID: ${SCANNER_ID}
      FLAVOR: ${FLAVOR:-rest,config}
      NO_SSL: ${NO_SSL:-true}
    ports:
      - "15000:5000"
    networks:
      - dsx-network

# The following assumes an already created docker network like this:
# docker network create dsx-connect-network --driver bridge
networks:
  dsx-network:
    external: true
    name: dsx-connect-network  # change this to an existing docker network
